<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/06/21 07:53:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_VerifyAGI.Initialization()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@4386f16]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="8e78f2">  <td>21/06/21 07:53:37</td>   <td>26727</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_AGI.Initialization()[pri:0, instance:TestCases.SwiftTools_AGI@63021689]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/06/21 07:54:01</td>   <td>50389</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_VerifyAGI.Initialization()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@17046283]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="8e78f2">  <td>21/06/21 07:53:42</td>   <td>31735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_AGI.SendAGIMessage()[pri:0, instance:TestCases.SwiftTools_AGI@63021689]">SendAGIMessage</td> 
  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/06/21 07:53:16</td>   <td>5081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_VerifyAGI.VerifyAGIMessage()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@4386f16]">VerifyAGIMessage</td> 
  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/06/21 07:54:05</td>   <td>54063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_VerifyAGI.VerifyAGIMessage()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@17046283]">VerifyAGIMessage</td> 
  <td>main@105374791</td>   <td></td> </tr>
</table>
